<!--Prabal Regmi 6/20/2021 300522389 about.ejs-->
<% if (title === "About Me"){%>  
    <main class="container">
        <div class="jumbotron">
            <p1>My name is Prabal Regmi. I am completing an Advanced Diploma Fast-Track in Software Engineering Technology in December 2022. </p1>
            <h1 class="display-8 d-flex justify-content-center">Resume:</h1>
            <div class="d-flex justify-content-center">
                <iframe src="/Assets/resume.pdf" width="500px" height="700px"></iframe>
            </div>
        </div>
    </main>
<%}%>