<!--Prabal Regmi 6/20/2021 300522389 bot_nav.ejs-->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand display-6" href="#">&copy; Copyright 2021. All Rights reserved.</a>
        </div>
    </nav>
</footer>
