<!--Prabal Regmi 6/20/2021 300522389 footer.ejs-->
<script scr="/jquery/dist/jquery.min.js"></script>
    <script scr="/bootstrap/dist/js/bootstrap.min.js"></script> 
    <script scr="/Scripts/app.js"></script>
  </body>
</html>