<!--Prabal Regmi 6/20/2021 300522389 home.ejs-->
<% if (title === "Home"){%> 

    <main class="container paddingAll">
        <div class="jumbotron ">
            <p1 class="p-3 mb-2 bg-info text-white text-center">To be a programmer. And to create inspiring content for everyone.</p1>
        <div class="align-self-center">
            <button type="button" class="btn btn-info"><a class="btn btn-primary" href="\about" role="button">About Me</a></button>
        </div>
        </div>
    </main>

<%}%> 