<!--Prabal Regmi 6/20/2021 300522389 home.ejs-->
<% if (title === "Projects"){%> 
    <main class="container paddingAll">
        <div class="card-header bg-info text-white" >
            <h6 class="card-title">Currently working on Web Application Programming Interface creating projects. </h6>
          </div>
        <div class="container-fluid align-self-center">
            <a class= " navbar-brand" ><img src='/Assets/images/screenshot.png' width="400" height="400" alt=""></a>
        </div>
    </main>
<%}%>