<!--Prabal Regmi 6/20/2021 300522389 services.ejs-->
<% if (title === "Services"){%>  
  <main class="container paddingAll">
    <div class="jumbotron card" style="width: 18rem;"> 
      <div class="card-header bg-info text-white" >
        <h5 class="card-title">Services Provided</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">General Programming</li>
        <li class="list-group-item">Web Development</li>
        <li class="list-group-item">Mobile Application</li>
      </ul>
    </div>
  </main>
<%}%>