<!--Prabal Regmi 6/20/2021 300522389 top_nav.ejs-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
    <a class= " navbar-brand" href="\"><img src='/Assets/images/logo.png' width="40" height="40" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav rl-auto">

        <% if (title == "Home"){%>
        <li calss="nav-item active">
        <%} else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="\">Home</a>
        </li>
          
        <% if (title == "About Me"){%>
          <li calss="nav-item active" >
          <%} else { %>
          <li class="nav-item">
          <% } %>
          <a class="nav-link" href="\about">About</a>
        </li>
          
        <% if (title == "Projects"){%>
          <li calss="nav-item active">
          <%} else { %>
          <li class="nav-item">
          <% } %>
          <a class="nav-link"  href="\project">Projects</a>
        </li>
          
        <% if (title == "Services"){%>
          <li calss="nav-item active">
          <%} else { %>
          <li class="nav-item">
          <% } %>
          <a class="nav-link" href="\service">Services</a>
        </li>
          
        <% if (title != "Contact Me"){%>
          <li calss="nav-item active">
          <%} else { %>
          <li class="nav-item" active>
          <% } %>
          <a class="nav-link" href="\contact">Contact Us</a>

        <% if (title != "Contact Me"){%>
          <li calss="nav-item active">
          <%} else { %>
          <li class="nav-item" active>
          <% } %>
          <a class="nav-link" href="\login">User Login</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>